@use 'scss' as *;

.button {
    @include button;
    color: $main-gradient;
    transition: $transition-default;

    &--white {
        background-color: $white;
        color: $black;

        &:not(.button--locked):hover {
            background: hsl(0, 0%, 75%);
        }
    }

    &--blue {
        background-color: $blue;
        color: $white;

        &:not(.button--locked):hover {
            background: hsl(215, 100%, 52%);
        }
    }

    &--locked {
        cursor: auto;
        opacity: 0.5;
    }
}
