@use 'scss' as *;

.service-requests-page {
    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        min-height: calc(100vh - 70px);
    }
}
