@use 'scss' as *;

.service-requests-page {
    &__title {
        font-weight: normal;
        font-size: 1.5rem;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        min-height: calc(100vh - 70px);
    }

    &__fetch-info {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 50%;
        font-size: 1.5rem;
        color: $white;
    }
}
