@use 'scss/index' as *;

.change-password {
    flex-basis: 100%;
    height: fit-content;
    background-color: $blue-dark;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: $border-radius;

    &__title {
        font-weight: normal;
    }

    &__button-container {
        margin-top: 1rem;
    }
}
