@import "/src/scss/variables.scss";

.action-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: $border-radius;
  border: none;
  width: 100%;
  color: $main-gradient;
  cursor: pointer;
}
