@use 'scss/index' as *;

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: $white;
    padding: 1rem;
    border-bottom: $border-primary;
    gap: 1rem;
}

@media screen and (min-width: $breakpoint-desktop) {
    .sub-header {
        display: none;
    }
}
