@use 'scss/index' as *;

.popup {
    position: fixed;
    right: 50%;
    bottom: 2rem;
    z-index: $z-index-popup;
    min-width: 100px;
    padding: 1.5rem;
    border-radius: $border-radius;
    animation: showPopup 1s forwards;
    display: flex;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;

    &--default {
        background: $blue;
        color: $white;
    }

    &--error {
        background: $red-error;
    }

    &__icon {
        font-size: 1.5rem;
    }

    @keyframes showPopup {
        from {
            opacity: 0;
            visibility: hidden;
            transform: translateX(50%) translateY(5rem);
        }

        to {
            opacity: 1;
            visibility: visible;
            transform: translateX(50%) translateY(0);
        }
    }
}
