@use 'scss/index' as *;

.devices-page {
    height: 100%;

    &__page-title {
        font-weight: normal;
        font-size: 1.5rem;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        position: relative;
        min-height: calc(100vh - 70px - 75px - 75px);
        z-index: 0;
        gap: 1rem;
    }

    &__fetch-info {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 50%;
        font-size: 1.5rem;
        color: $white;
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .devices-page {
        padding-left: 250px;

        &__main {
            min-height: calc(100vh - 70px);
        }
    }
}
