@import "/src/scss/variables.scss";

.filter-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $white;
  padding: 1rem;
  border-bottom: $border-primary;
}

@media screen and (min-width: $breakpoint-tablet) {
  .filter-section {
    display: none;
  }
}
