@import "/src/scss/variables.scss";
@import "/src/scss/main.scss";

.devices-table {
  overflow-x: auto;
  padding: 1rem;

  table {
    border-collapse: separate;
    border-spacing: 0 1rem;
    color: $white;
    width: 100%;

    thead {
      tr {
        th {
          text-align: center;
          font-weight: normal;
          padding: 0 1rem;
          white-space: nowrap;
        }
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .devices-section {
    padding: 1rem 1.5rem;
  }
}
