@use 'scss/index' as *;

.profile-page {
    color: $white;

    &__main {
        padding: 1.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .profile-page {
        &__main {
            flex-direction: row;
            justify-content: space-between;
            margin: none;
        }
    }
}
