@use 'scss/index' as *;

.modal {
    position: absolute;
    left: 0;
    top: 0;
    z-index: $z-index-modal;
    width: 100%;
    height: 100vh;
    background: rgba($black, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: $breakpoint-tablet) {
    .modal {
        padding: 2rem;
    }
}
