@use 'scss/index' as *;

.sort-by {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__text {
        font-size: 0.9rem;
    }

    &__select {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        border: none;
        background: none;
        color: inherit;
        width: fit-content;
        font-size: 1.1rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
            color: $blue;
        }
    }
}
