@use 'scss/index' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    width: 100%;
    height: 70px;
    background-color: $blue-dark;
    border-bottom: $border-primary;
    color: $white;

    &__bars {
        font-size: 2rem;
        padding: 0.5rem;
        color: inherit;
        cursor: pointer;
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .header {
        display: none;
    }
}
