@use 'scss/index' as *;

.account {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba($blue, 0.25);
    width: 100%;

    &__image-container {
        width: 60px;
        height: 60px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    &__profile-icon {
        color: $blue;
        background-color: $white;
        font-size: 1.75rem;
        padding: 0.75rem;
        border-radius: $border-radius;
    }

    &__user-name {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__logout {
        background: $blue-dark-accent;
        color: $blue;
        padding: 0.5rem;
        font-size: 1.25rem;
        border-radius: $border-radius / 2;
        cursor: pointer;
        transition: $transition-default;

        &:hover {
            background: $white;
            color: $black;
        }
    }
}
