@import "/src/scss/variables.scss";

.account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba($blue, 0.25);

  &__left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  &__icon {
    background: $white;
    color: $blue;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: $border-radius;
    cursor: pointer;
  }

  &__logout {
    background: $blue-dark-accent;
    color: $blue;
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: $border-radius;
    cursor: pointer;
    transition: $transition-default;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}
