@import "/src/scss/variables.scss";

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  color: $white;
  background: $blue-dark;
  border-right: $border-primary;
  transition: 0.4s ease-in-out;
  transform: translateX(-100%);

  &.active {
    transform: translateX(0);
  }

  &__logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 0 1.5rem;
    height: 70px;
    color: inherit;
    cursor: pointer;
    width: 100%;
    border-bottom: $border-primary;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem;

    &-link {
      color: $white;
      font-size: 1.25rem;
      cursor: pointer;
      transition: $transition-default;

      &:hover {
        color: $blue;
      }

      &.active {
        color: $blue;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .sidebar {
    transform: translateX(0);
    transition: unset;
  }
}
