@use 'scss/index' as *;

.sidebar {
    position: fixed;
    z-index: $z-index-fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    color: $white;
    background: $blue-dark;
    border-right: $border-primary;
    transition: 0.4s ease-in-out;
    transform: translateX(-100%);

    &.active {
        transform: translateX(0);
    }

    &__logo-container {
        display: flex;
        align-items: center;
        height: 70px;
        padding: 1rem;
        border-bottom: $border-primary;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        // padding: 1rem 1.5rem;
        padding: 1rem 0;

        &-link {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: $white;
            font-size: 1.25rem;
            padding: 0.75rem 1.5rem;
            cursor: pointer;
            transition: $transition-default;

            &:hover {
                background: rgba($white, 0.2);
            }

            &:active {
                // color: rgba($white, 0.5);
                color: $blue;
                background: rgba($gray, 0.2);
            }

            &.active {
                color: $blue;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .sidebar {
        transform: translateX(0);
        transition: unset;
    }
}
