@use 'scss' as *;

.add-device {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding: 1rem;
    background: $blue-dark;
    color: $white;
    gap: 1rem;
    max-width: 100%;
    height: 100vh;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__exit-button {
        font-size: 2rem;
        padding: 0.5rem;
        border: none;
        background: rgba($red, 0.25);
        border-radius: $border-radius;
        width: 50px;
        height: 50px;
        color: $red;
        position: absolute;
        right: 1rem;
        cursor: pointer;
        transition: opacity $transition-default;

        &:hover {
            opacity: 0.75;
        }
    }

    &__title {
        font-size: 2rem;
        margin: 1rem 0;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: inherit;
    }

    &__filters {
        display: flex;
        gap: 1rem;
    }

    &__bottom {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__fetch-info {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: $breakpoint-mobile) {
    .add-device {
        height: 70vh;
        width: 900px;
        border-radius: $border-radius;

        &__top {
            flex-direction: row;
        }
    }
}
