@use 'scss' as *;

.add-device {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    border-radius: $border-radius;
    background: $blue-dark;
    color: $white;
    gap: 1rem;
    max-width: 100%;
    height: 75vh;

    &__title {
        font-size: 2rem;
        margin: 1rem 0;
    }

    &__top {
        display: flex;
        flex-direction: column;
        gap: inherit;
    }

    &__filters {
        display: flex;
        gap: 1rem;
    }

    &__bottom {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__fetch-info {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: $breakpoint-mobile) {
    .add-device {
        height: 70vh;
        width: 900px;

        &__top {
            flex-direction: row;
        }
    }
}
