@use 'scss/index' as *;

.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: $blue-dark;
    padding: 2rem;
    border-radius: $border-radius;
    min-width: 350px;

    &__title {
        text-align: center;
        font-weight: normal;
        font-size: 2rem;
    }

    &__group {
        display: flex;
        flex-direction: column;
        width: 100%;

        &--inputs {
            gap: 1rem;
        }
    }

    &__privacy-consent {
        display: flex;
        gap: 0.25rem;
        font-size: 0.9rem;
    }

    &__privacy-policy-link {
        color: $blue;
    }

    &__login {
        text-align: center;
        font-size: 0.9rem;

        &-link {
            color: $blue;
        }
    }

    &__name-container {
        display: flex;
        gap: 1rem;
    }
}
