@use 'scss/index' as *;

.sign-up-form {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__title {
        margin-bottom: 1rem;
    }

    &__group {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin-bottom: 2rem;

        &--inputs {
            gap: 0.5rem;
        }
    }

    &__login {
        font-size: 0.9em;
        margin-top: 2rem;
        &-link {
            color: $blue;
        }
    }
}
