@import "/src/scss/variables.scss";

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  padding: 1rem;
  border-bottom: 1px solid rgba($blue, 0.25);

  &__button {
    padding: 1rem;
    background: $blue;
    border: none;
    color: inherit;
    font-size: 1rem;
    border-radius: 16px;
    cursor: pointer;
  }
}
