@import "/src/scss/variables.scss";

.sign-in-form {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__title {
    margin-bottom: 1rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--inputs {
      gap: 0.5rem;
    }
  }

  &__forgot-password {
    font-size: 0.8rem;
    margin: 0.5rem 0 1rem 0;
    color: $blue;
  }
  &__sign-up {
    font-size: 0.9rem;
    margin-bottom: 2rem;

    &-link {
      color: $blue;
    }
  }

  &__forgot-password {
    text-align: left;
  }

  &__sign-up {
    margin-top: 2rem;
  }
}
