@use 'scss/index' as *;

.sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: $blue-dark;
    padding: 2rem;
    border-radius: $border-radius;
    min-width: 350px;

    &__title {
        text-align: center;
        font-weight: normal;
        font-size: 2rem;
    }

    &__group {
        display: flex;
        flex-direction: column;
        width: 100%;

        &--inputs {
            gap: 1rem;
        }
    }

    &__sign-up {
        text-align: center;
        font-size: 0.9rem;

        &-link {
            color: $blue;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__forgot-password {
        text-align: center;
        font-size: 0.9rem;
        color: $blue;

        &:hover {
            text-decoration: underline;
        }
    }
}
