@use 'scss/index' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 0.25px;
}

html {
    font-family: 'Roboto', sans-serif;
    background: $background-color;
}

.app {
    min-height: 100vh;
}

@media screen and (min-width: $breakpoint-mobile) {
    *::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    *::-webkit-scrollbar:vertical {
        width: 14px;
    }
    *::-webkit-scrollbar:horizontal {
        height: 14px;
    }
    *::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba($blue, 0.5);

        &:hover {
            background-color: rgba($blue, 0.7);
        }

        &:active {
            background-color: rgba($blue, 1);
        }
    }
    *::-webkit-scrollbar-track {
        background-color: $blue-dark;
    }
}
