@use 'scss/index' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    letter-spacing: 0.25px;
}

html {
    font-family: 'Roboto', sans-serif;
}

.app {
    background: $main-gradient;
    min-height: 100vh;
}
