@use 'scss/index' as *;

.action-button {
    border-radius: $border-radius;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 45px;
    height: 45px;
    text-align: center;
    transition: $transition-default;

    &:hover {
        opacity: 0.75;
    }

    &--yellow {
        color: #ffc311;
        background: rgba(#ffc311, 0.25);
    }

    &--blue {
        color: $blue;
        background: rgba($blue, 0.25);
        margin: 0 1rem;
    }

    &--red {
        color: #eb5757;
        background: rgba(#eb5757, 0.25);
    }

    &--green {
        color: #00b900;
        background: rgba(#00b900, 0.25);
    }

    &__icon {
        font-size: 1.5rem;
    }
}
