@use 'scss/index' as *;

.icon-button {
    border-radius: $border-radius;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 45px;
    height: 45px;
    text-align: center;
    transition: $transition-default;

    &:hover {
        opacity: 0.75;
    }

    &--yellow {
        color: #ffc311;
        background: rgba(#ffc311, 0.25);
    }

    &--blue {
        color: $blue;
        background: rgba($blue, 0.25);
    }

    &--red {
        color: $red;
        background: rgba($red, 0.25);
    }

    &--green {
        color: $green;
        background: rgba($green, 0.25);
    }

    &__icon {
        font-size: 1.5rem;
    }
}
