// colors
$blue: rgb(13, 148, 250);
$blue-dark: rgb(25, 40, 62);
$blue-dark-accent: rgb(39, 56, 82);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$gray: hsl(0, 0%, 50%);
$red: rgb(223, 0, 0);

// gradients

$main-gradient: linear-gradient(
    150deg,
    hsl(215, 23%, 10%) 0%,
    hsl(216, 36%, 24%) 100%
);

// Breakpoints

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1100px;

// Other
$transition-default: ease-in-out 0.25s;
$border-radius: 16px;
$border-primary: 1px solid rgba($blue, 0.25);
