// colors
$blue: #2a6fd9;
$blue-dark: #19283e;
$white: white;
$black: black;
$gray: gray;

// gradients

$main-gradient: linear-gradient(
  150deg,
  rgba(20, 25, 32, 1) 0%,
  rgba(39, 56, 82, 1) 100%
);
