// colors
$blue: #2a6fd9;
$blue-dark: #19283e;
$blue-dark-accent: #273852;
$white: white;
$black: black;
$gray: gray;
$red: #df0000;

// gradients

$main-gradient: linear-gradient(
  150deg,
  hsl(215, 23%, 10%) 0%,
  hsl(216, 36%, 24%) 100%
);

// $main-gradient: linear-gradient(150deg, hsl(215, 23%, 10%) 0%, hsl(216, 36%, 24%) 100%);

// Breakpoints

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1100px;

// Other
$transition-default: ease-in-out 0.25s;
$border-radius: 16px;
$border-primary: 1px solid rgba($blue, 0.25);
